.divLine00 {
    outline: 1px solid red;
}
.divLine1000 {
    outline: 1px solid rgb(0, 255, 136);
}
.colorBlue{
    color: #1f3f73;
   
}
.colorBlue2{
    /*color: #1f3f73;*/
    color:#4f1dd0
}
.colorGray{
    color: #6b7892;
}

.colorVaccinations {
    color: #3555D3;
    font-weight: bold;
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*#3555D3*/
}
.ahrefMarginRight{
    margin-right: 520px !important;
}
.divPosition{
    max-width: 1450px !important;
    margin-left: auto;
    margin-right: auto;
    width: -1em;
}
.topDimension{
    margin-right: 210px !important; 
    justify-content: left !important;
}
.colorNavPills{
    /*color: #6f7b94 !important;*/
    color: #ffffff !important;
    background-color: #4901c8 !important; 
}
.tamanyo{
    font-size: 20px;
    
}
.colorNavPillsOFF{
    color: #6b7892 !important;
}
.imageNurse1{
    max-width: 1450px !important;
    margin-left: 70px;
    margin-right: -70px;
    width: -1em;
    top: 75px;
    z-index: -3;
    width: 700px;
    right: 0px;
}
.color2 {
    color: #1f3f73;
    font-weight: bold;
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fondoTop{
    z-index: -1;    
    background-color: #e8f2fc;
    position: absolute;
    width: 700px;
    height: 80px;
    top: 0px;
}
.divFontHeader1{
    width: 490px;
    position: relative;
    left: 120px !important;
    top: 22px;
}
.positionTriangle1{
    position: relative;
    left: 46px !important;
}
.sizeFontHeader1 {
    position:inherit;
    color: #1f3f73;
    font-weight: bold;
    font-size: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.divFontText1{
    width: 490px;
    position: relative;
    left: 120px !important;
    top: 50px;
}
.fontText1{
    font-size: 25px;
    color: #8a8d8f;
    font-family: system-ui;
}
.triangle2{
    left: 610px;
    position: relative;
    top: -9px;
}
.box1{
    position: relative;
    width: 355px;
    top: 47px;
    right: 76px;
}
.divSchedule1{
    position: relative;
    height: 24px;
    width: 511px;
    top: -207px;
    left: 112px;
}
.divSchedule1text1{
    font-size: 20px;
    top: -6px;
    position: relative;
    color: #1f3f73;
    left: 20px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.divSchedule1text2{
    
    font-size: 20px;
    position: relative;
    top: -51px;
    left: 259px;
    color: #1f3f73;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.divSchedule1text3{
    font-size: 20px;
    position: relative;
    top: 3px;
    left: 24px;
    color: #1f3f73;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.divSchedule1Shield1{
    position: relative;
    top: -7px;
    width: 26px;
}
.divSchedule1Star1{
    position: relative;
    width: 28px;
    top: -54px;
    left: 247px;
}

.divSchedule1Clock1{
    position: relative;
    width: 32px;
    top: -1px;
}



.divSchedule2{
    background-color: #ffffff;
    position: relative;
    height: 37px;
    width: 349px;
    top: -20px;
    left: 106px;
}
.divSchedule3{
    background-color: #ffffff;
    position: relative;
    opacity: 0.9;
    height: 110px;
    width: 701px;
    top: 49px;
    left: 209px;
}
.divSchedule4{
    border: 1px solid rgb(245, 242, 242)!important;
    border-radius: 16px;
    background-color: #ffffff;
    position: relative;
    opacity: 0.9;
    height: 110px;
    width: 700px;
    top: -6px;
    left: 233px;
}
.divSchedulePlaceholder1{
    position: relative;
    width: 25px;
    top: 23px;
    left: 31px;
}
.divScheduleDate1{
    position: relative;
    width: 25px;
    top: -24px;
    left: 212px;
}
.divSchedulePencil1{
    position: relative;
    width: 25px;
    top: -66px;
    left: 365px;
}
.divSchedule1text41{
    font-size: 17px;
    position: relative;
    top: 24px;
    left: 38px;
    color: #6b7892;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
.divSchedule1text42{
    font-size: 17px;
    position: relative;
    top: 53px;
    left: -25px;
    color: #1f3f73;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.divSchedule1text43{
    font-size: 17px;
    position: relative;
    top: -21px;
    left: 219px;
    color: #6b7892;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.divSchedule1text44{
    font-size: 17px;
    position: relative;
    top: 8px;
    left: 183px;
    color: #1f3f73;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.divSchedule1text45{
    font-size: 17px;
    position: relative;
    top: -62px;
    left: 367px;
    color: #6b7892;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.divSchedule1text46{
    font-size: 17px;
    position: relative;
    top: -36px;
    left: 278px;
    color: #1f3f73;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.divSubmit{
    position: relative;
    width: 114px;
    top: -95px;
    left: 575px;
    height: -15px;
}
    

.imgBrands{
    width: 1500px;
    position: relative;
    top: -264px;
    left: 15px;
    z-index: -2;
}
.brands1{
    position: relative;
    opacity: 20.1;
    height: 110px;
    width: 700px;
    top: 284px;
    left: 0px;
}

.divFontHeader2{
    width: 565px !important;
    position: relative;
    left: 120px !important;
    top: 177px;
}

.sizeFontHeader2 {
    position:relative;
    color: #1f3f73;
    font-weight: bold;
    font-size: 51px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.divFontText2{
    width: 634px;
    position: relative;
    left: 120px !important;
    top: -25px;
}

.fontText2{
    position: relative;
    font-size: 25px;
    color: #8a8d8f;
    font-family: system-ui;
}
.rectangle1{
    width: 657px;
    position: relative;
    top: 138px;
    height: 4px;
    left: 768px;
    background: rgba(244,245,251,255);
}
.triangle3{
    left: 1328px;
    width: 99px;
    position: relative;
    top: 38px;
    z-index: -1;
}
.divContainerCards1{
   
    position: relative;
    width: 1312px;
    left: 117px;
    height: 370px;
}
.fontSizeBlueCard{
    font-size: 28px;
    
}
.fontSizeGrayCard{
    font-size: 19px;
}

.card1{
    border: 1px solid rgb(234 234 234)!important;
    border-radius: 16px;
    background-color: #ffffff;
    position: relative;
    top: 28px;
    width: 250px;
    left: 40px;
    height: 360px;
}
.card2{
    border: 1px solid rgb(234 234 234)!important;
    border-radius: 16px;
    background-color: #ffffff;
    position: relative;
    top: -330px;
    width: 250px;
    left: 333px;
    height: 360px;
}
.card3{
    border: 1px solid rgb(234 234 234)!important;
    border-radius: 16px;
    background-color: #ffffff;
    position: relative;
    top: -688px;
    width: 250px;
    left: 645px;
    height: 360px;
}
.card4{
    border: 1px solid rgb(234 234 234)!important;
    border-radius: 16px;
    background-color: #ffffff;
    position: relative;
    top: -1048px;
    width: 250px;
    left: 984px;
    height: 360px;
}
.inCard{
    position: relative;
    top: 38px;
    height: 220px;

}
.sizeIconCard{
    width: 71px;
    position: relative;
    top: 22px;
    left: 1px;
}
.triangle4{
    left: 0px;
    width: 99px;
    position: relative;
    top: 34px;
    z-index: -1;
}

.rectangle2{
    width: 625px;
    position: relative;
    top: 140px;
    height: 1px;
    left: 0px;
    background: rgba(244,245,251,255);
}
.divThirdPart{
    position: relative;
    top: 66px;
    height: 882px;
    width: 1330px;
    left: 1px;
}
.divThirdPartInsideLeft{
    position: relative;
    height: 580px;
    width: 573px;
    left: 1px;
    top: 70px;
}

.divThirdPartInsideRight{
    position: relative;
    height: 775px;
    top: -707px;
    left: 607px;
    width: 720px;
}

.imageFemale1{
       position: relative;
    left: -68px;
    max-width: 1450px !important;
    margin-left: 70px;
    margin-right: -70px;
    width: -1em;
    top: 0px;
    width: 565px;
    z-index: -2;
    
}
.divTitle3{
    position: relative;
    width: 700px;
    top: 18px;
    height: 221px;
    left: 20px;

}
.containerAdvices{
    position: relative;
    top: 129px;
    left: 54px;
    width: 612px;
    height: 400px;
}

.divFourthPart{
    position: relative;
    top: 109px;
    height: 892px;
    width: 1415px;
    left: 2px;
}
.triangle10{
    
    left: 1314px;
    width: 99px;
    position: relative;
    top: 18px;
    z-index: -1;

}
.rectangle10{
    width: 848px;
    position: relative;
    top: 117px;
    height: 1px;
    left: 561px;
    background: rgba(244,245,251,255);
}
.divTitle4{
    position: relative;
    height: 205px;
    width: 652px;
    top: -127px;
    left: 42px;
}
.divFourthPartOptions{
    position: relative;
    top: 52px;
    height: 489px;
    width: 602px;
    left: 31px;

}
.divOpt1{
    border: 1px solid rgb(234 234 234)!important;
    border-radius: 16px;
    background-color: #ffffff;
    position: relative;
    top: 0px;
    height: 235px;
    width: 285px;
}
.divOpt1Container{
    position: relative;
    top: 42px;
    left: 43px;
    width: 197px;
}

.icon1FourthPart{
    position: relative;
    top: 12px;
    height: 35px;
    width: 38px;
    left: 6px;
}
.divOpt1Text{
    
    position: relative;
    top: -31px;
    height: 51px;
    width: 135px;
    left: 48px;

}
.divOpt1TextContainer2{
   
    position: relative;
    top: -18px;
    left: 0px;
    height: 18px;
    width: 126px;
 
}

.divButtonPart4{
    
    border: 1px solid rgb(234 234 234)!important;
    border-radius: 7px;
    background-color: #f1f5ff;
    position: relative;
    height: 43px;
    width: 190px;
    left: 5px;
    top: -25px;
}

.divOpt2{
    border: 1px solid rgb(234 234 234)!important;
    border-radius: 16px;
    background-color: #ffffff;
    position: relative;
    top: -235px;
    height: 235px;
    width: 285px;
    left: 316px;
}
.divOpt3{
    border: 1px solid rgb(234 234 234)!important;
    border-radius: 16px;
    background-color: #ffffff;
    position: relative;
    top: -216px;
    height: 235px;
    width: 285px;
}
.divOpt4{
    border: 1px solid rgb(234 234 234)!important;
    border-radius: 16px;
    background-color: #ffffff;
    position: relative;
    top: -451px;
    height: 235px;
    width: 285px;
    left: 316px;
}

.divImageMan{
    position: relative;
    top: -557px;
    height: 625px;
    width: 650px;
    left: 725px;
}

.imageMan1{
    position: relative;
    left: -71px;
    max-width: 1450px !important;
    margin-left: 70px;
    margin-right: -70px;
   
    top: -42px;
    width: 650px;
    z-index: -2;
    
}
.colorFooter{
    background-color: #edf0fe;
}
.divFooterWords{
    position: relative;
    top: 44px;
    width: 372px;
    left: -307px;
    height: 96px;

}
.triangle5{
    width: 219px;
    position: relative;
    left: 190px;
    top: -3px;


}
.divFooterWords2{
    position: relative;
    z-index: 1;
    top: -38px;
    height: 30px;
    width: 278px;
    left: 152px;

}
.divFooterWords3{
    position: relative;
    z-index: 10;
    top: 110px;
    height: 30px;
    width: 278px;
    left: -268px;

}
.divFooterWords4{
    position: relative;
    z-index: 1;
    top: 1px;
    height: 30px;
    width: 167px;
    left: 32px;

}